<template>
	<div id="home">
		<v-container fluid>
			<v-layout row wrap class="banner">
				<v-flex xs12 md6 :style="{'background-image': 'url(/images/'+ x +'.jpg)'}" v-for="x in 2" :key="x">
					<router-link to="/projects" class="mask" v-if="x == 1">
						<p class="projects">
							Projects<span><v-icon>keyboard_backspace</v-icon></span>
						</p>
					</router-link>
					<router-link to="/properties" class="mask" v-if="x == 2">
						<p class="properties">
							<span><v-icon>keyboard_backspace</v-icon></span>Properties
						</p>
					</router-link>
				</v-flex>
			</v-layout>
		</v-container>
		<search-bar></search-bar>
		<sort-bar></sort-bar>
		<v-container fluid>
			<v-container>
	            <v-layout row wrap justify-start class="results">
	                <v-flex xs12 md6 v-for="x in 10" :key="x">
	                    <v-card tile flat v-if="x > 2" class="card">
	                    	<div class="contents-info">
								<v-img :src="'/images/' + x + '.jpg'" aspect-ratio="2.75" lazy-src class="image">
									<div class="ribbon">
										New House
									</div>
									<div class="mask">
										<div class="expand">
											<span>+</span>
										</div>
									</div>
								</v-img>
								<v-card-title primary-title class="title">
									<div class="wrapp">
										<div class="information">
											<h5>Luxury House at West Street</h5>
											<p class="type">
												Apartment
											</p>
											<p class="location">
												<span>11th West Street</span>
												<span>6th Ave. New York City</span>
											</p>
										</div>
										<div class="more">
											<span class="area">205 sq ft</span>
											<a href="#" class="link">
												See details<v-icon>keyboard_backspace</v-icon></span>
											</a>
										</div>
									</div>
								</v-card-title>
	                    	</div>
				        </v-card>
	                </v-flex>
	            </v-layout>
	            <v-layout row wrap justify-center>
	                <v-flex xs12 md12 class="pagination">
			            <v-pagination v-model="page" :length="5" total-visible="10"></v-pagination>
			        </v-flex>
			    </v-layout>
	        </v-container>
	    </v-container>
	</div>
</template>

<script>
    export default {
    	data() {
    		return  {
    			page: 1
    		}
    	},
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss">
	#home {
		background: #eeeeee;
		.banner {
			.flex{
				height: 450px !important;
				overflow: hidden !important;
				background-size: cover;
				background-position: center;
				position: relative;
				a {
					text-decoration: none;
				}
				&:nth-child(1) {
					.mask {
						justify-content: right;
						p {
							span {
								margin-left: 80px;
								i {
									-ms-transform: rotate(180deg); /* IE 9 */
									-webkit-transform: rotate(180deg); /* Safari 3-8 */
									transform: rotate(180deg);
								}
							}
						}
					}
				}
				&:nth-child(2) {
					.mask{
						justify-content: left;
						p {
							span {
								margin-right: 80px;
							}
						}
					}
				}
				.mask {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					flex: 1;
					display: flex;
					align-items: center;
					padding: 0px 60px;
					background: rgba(0,0,0,0.4);
					cursor: pointer;
					-webkit-transition: background 300ms linear;
					-ms-transition: background 300ms linear;
					transition: background 300ms linear;
					&:hover {
						background: rgba(18, 146, 255, 0.8);
						-webkit-transition: background 300ms linear;
						-ms-transition: background 300ms linear;
						transition: background 300ms linear;
					}
					p {
						font-size: 30px;
						color: #ffffff;
						span {
							i {
								font-size: 30px;
								color: white;
							}
						}
					}
				}
			}
		}
		.results {
			.flex {
				margin-bottom: 90px;
				&:nth-child(odd) {
					padding-right: 10px;
				}
				&:nth-child(even) {
					padding-left: 10px;
				}
				&:last-child,
				&:nth-last-child(2) {
					margin-bottom: 50px !important;
				}
				.card {
					.contents-info {
						width: 88%;
						margin: 0 auto;
						display: block;
					}
					.image {
						min-height: 350px;
						overflow: visible !important;
						cursor: pointer;
						&:hover {
							.ribbon {
								background: #ffffff;
								color: #000000;
								-webkit-transition: background 300ms, color 300ms ease-in-out;
								-moz-transition: background 300ms, color 300ms ease-in-out;
								-ms-transition: background 300ms, color 300ms ease-in-out;
								-o-transition: background 300ms, color 300ms ease-in-out;
								transition: background 300ms, color 300ms ease-in-out;
							}
							.mask {
								background: rgba(18, 146, 255, 0.8);
								height: auto;
								opacity: 1;
								-webkit-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
								-moz-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
								-ms-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
								-o-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
								transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
							}
						}
						.v-image__image {
							height: 400px;
							margin-top: -50px !important;
							z-index: 9;
						}
						.ribbon {
							-ms-transform: rotate(-90deg); /* IE 9 */
							-webkit-transform: rotate(-90deg); /* Safari */
							transform: rotate(-90deg);
							position: absolute;
							top: 48px;
							left: -54px;
							padding: 2px 20px;
							background: #053aff;
							text-transform: uppercase;
							color: #ffffff;
							font-size: 12px;
							font-weight: 500;
							z-index: 99;
						}
						.mask {
							background: #000;
							position: absolute;
							top: -50px;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: 9;
							opacity: 0;
							height: 0px;
							background: rgba(0,0,0,0.4);
							-webkit-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
							-moz-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
							-ms-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
							-o-transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
							transition: height 300ms, opacity 300ms ease-in-out, background 300ms linear;
							overflow: hidden;
							.expand {
								display: flex;
								justify-content: center; /* align horizontal */
								align-items: center; /* align vertical */
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								right: 0;
								span {
									color: #ffffff;
									padding: 7px 18px;
									border-radius: 50%;
									border: 1px solid #ffffff;
									font-size: 25px;
									font-weight: bold;
								}
							}
						}
					}
					.title {
						padding: 20px 0px;
						.wrapp {
							width: 100%;
							display: flex;
						}
						.information {
							flex: 2.5;
							h5 {
								margin-bottom: 10px;
								font-family: 'Montserrat', sans-serif;
								font-weight: 600;
							}
							.type {
								color: #a1a1a1;
								text-transform: uppercase;
								font-size: 12px;
								font-family: 'Montserrat', sans-serif;
							} 
							.location {
								color: #a1a1a1;
								font-size: 12px;
								line-height: 18px;
								margin-bottom: 0px;
								font-family: 'Montserrat', sans-serif;
								span {
									display: block;
								}
							}
						}
						.more {
							flex: 1;
							font-family: 'Montserrat', sans-serif;
							font-size: 15px;
							position: relative;
							a {
								display: block;
								text-transform: uppercase;
								position: absolute;
								bottom: 0;
								color: #006eda;
								text-decoration: none;
								i {
									-ms-transform: rotate(180deg); /* IE 9 */
									-webkit-transform: rotate(180deg); /* Safari 3-8 */
									transform: rotate(180deg);
									line-height: 15px;
									font-size: 18px;
									color: #006eda;
								}
							}
						}
					}
				}
			}
		}
		.pagination {
			text-align: center;
			.v-pagination__navigation,
			.v-pagination__item {
				box-shadow: 0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
				background-color: transparent !important;
				border-color: none !important;
				color: #000000;
			}
			.v-pagination__navigation,
			.v-pagination__item--active {
				background-color: transparent !important;
				border-color: none !important;
				color: #0146f4;
			}
		}
	}
</style>
