<template>
    <div id="project">
        <v-container fluid>
			<v-layout row wrap class="banner">
				<v-flex xs12 md12 :style="{'background-image': 'url(/images/1.jpg)'}">
				</v-flex>
			</v-layout>
		</v-container>
		<!--- top 3 properties --->
		<v-container fluid v-for="x in 23" :key="x" v-if="x >= 21" class="top-properties-banner" :style="{'background-image': 'url(/images/' + x + '.jpg)'}">
			<v-container>
				<v-layout row wrap justify-start v-if="x % 2 != 0">
					<v-flex md6 class="property-text-info">
						<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
						
						<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
						
						<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
						<router-link class="view-info" to="/property/id/90390782/name/29_street_elegant_affordable_house">
                			See Details <i>&#x2192;</i>
                		</router-link>
					</v-flex>
					<v-flex md6 class="property-image">
						<img :src="'/images/' + x + '.jpg'" alt="placeholder+image">
					</v-flex>
				</v-layout>
				<v-layout row wrap justify-start v-else>
					<v-flex md6 class="property-image">
						<img :src="'/images/' + x + '.jpg'" alt="placeholder+image">
					</v-flex>
					<v-flex md6 class="property-text-info">
						<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
						
						<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
						
						<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
						<router-link class="view-info" to="/property/id/90390782/name/29_street_elegant_affordable_house">
                			See Details <i>&#x2192;</i>
                		</router-link>
					</v-flex>
				</v-layout>
			</v-container>
		</v-container>
		<!---end top 3 properties --->
    </div>
</template>

<script>
    export default {
    	props: ['id', 'name'],
    	data() {
    		return {}
    	},
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss">
	#project {
		background: #eeeeee;
		font-family: 'Montserrat', sans-serif;
		.banner {
			.flex{
				height: 85vh !important;
				overflow: hidden !important;
				background-size: cover;
				background-position: center;
			}
		}
		.top-properties-banner {
			height: 85vh !important;
			background-size: cover;
			background-position: center;
			&:before {
				position: absolute;
				z-index: 0;
				display: block;
				width: 100%;
				height: 80vh;
				background: #ffffff;
				content: '';
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%);
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 );
			}
			div.flex {
				position: relative;
				z-index: 1;
				height: 85vh;
				&:first-child {
					padding-right: 20px;
				}
				&:last-child {
					padding-left: 20px;
				}
				&.property-text-info {
					margin-top: 20vh;
				}
				.view-info {
					padding: 10px 20px;
					background: #1976d2;
					color: #ffffff;
					width: 200px;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
				}
				img {
					max-width: 100%;
					position: absolute;
					bottom: -50px;
					left: 0;
					right: 0;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
</style>
