<template>
	<div id="projects">
		<v-container fluid>
			<v-layout row wrap class="banner">
				<v-flex xs12 md12 :style="{'background-image': 'url(/images/1.jpg)'}">
				</v-flex>
			</v-layout>
		</v-container>
		<search-bar></search-bar>
		<sort-bar></sort-bar>
		<v-container fluid>
			<v-container>
	            <v-layout row wrap justify-start v-for="x in 5" :key="x" class="results">
	                <v-flex xs12 md5 class="property-image">
	                    <v-img :src="'/images/' + x + '.jpg'" aspect-ratio="2.75" lazy-src class="image">
							<div class="ribbon">
								New House
							</div>
							<div class="expand"></div>
						</v-img>
	                </v-flex>
	                <v-flex xs12 md5 class="property-address-info">
	                    <h5 class="name">29 Street Elegant Affordable House</h5>
	                    <p class="type">Apartment</p>
	                    <p class="adress">11th Street South Corner NY City</p>
	                    <div class="area">
	                    	<span>25{{x}} sq.ft.</span>
	                    	<span>
	                    		<router-link to="/project/id/90390782/name/29_street_elegant_affordable_house">
	                    			See Details <i>&#x2192;</i>
	                    		</router-link>
	                    	</span>
	                    </div>
	                </v-flex>
	                <v-flex xs12 md2 class="property-amenities-info">
	                    <p class="bedroom">bedroom: 3</p>
	                    <p class="bathroom">bathroom: 2</p>
	                    <p class="carpark">carpark: 1</p>
	                    <p class="balcony">balcony: 1</p>
	                    <p class="kitchen">kitchen: 1</p>
	                    <p class="pool">pool: 1</p>
	                </v-flex>
	            </v-layout>
		        <v-layout row wrap justify-center>
	                <v-flex xs12 md12 class="pagination">
			            <v-pagination v-model="page" :length="5" total-visible="10"></v-pagination>
			        </v-flex>
			    </v-layout>
		   	</v-container>
	    </v-container>
	</div>
</template>

<script>
    export default {
    	data() {
    		return  {
    			page: 1
    		}
    	},
        mounted() {
        	this.$store.dispatch('getProjects')
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss">
	#projects {
		background: #eeeeee;
		font-family: 'Montserrat', sans-serif;
		.banner {
			.flex{
				height: 450px !important;
				overflow: hidden !important;
				background-size: cover;
				background-position: center;
			}
		}
		.results {
			background: #ffffff;
			margin-bottom: 70px;
			.flex {
				&.property-image {
					.image {
						min-height: 250px;
						overflow: visible !important;
						margin: 20px 20px -20px;
						.v-image__image {
							height: 250px;
						}
						.v-responsive__content {
							cursor: pointer;
							&:hover {
								&:after {
									content: '';
									display: block;
									width: 100%;
									height: 100%;
									background: #053aff;
									opacity: 0.7;
								}
							}
						}
						.ribbon {
							-ms-transform: rotate(-90deg); /* IE 9 */
							-webkit-transform: rotate(-90deg); /* Safari */
							transform: rotate(-90deg);
							position: absolute;
							top: 38px;
							left: -68px;
							padding: 2px 30px;
							background: #053aff;
							text-transform: uppercase;
							color: #ffffff;
							font-size: 12px;
							font-weight: 500;
							z-index: 9;
						}
						.expand {
							height: 50px;
							width: 50px;
							border: 1px solid #ffffff;
							border-radius: 50%;
							position: absolute;
							top: 40%;
							left: 45%;
							z-index: 99;
							&:after {
								content: '+';
								font-size: 25px;
								font-weight: 700;
								line-height: 0px;
								color: #ffffff;
								margin: 50% 35%;
								display: block;
							}
						}
					}
				}
				&.property-address-info {
					padding: 20px;
					position: relative;
					border-right: 1px solid #f5f5f5;
					font-family: 'Montserrat', sans-serif;
					.name {
						font-size: 20px;
						font-weight: 500;
					}
					.type {
						text-transform: uppercase;
						font-size: 13px;
					}
					.area {
						display: flex;
						bottom: 20px;
						width: 100%;
						padding: 0px 20px;
						position: absolute;
						left: 0;
						right: 0;
						&:after {
							clear: both;
							content: ' ';
							display: block;
						}
						span {
							width: 50%;
							&:nth-child(2) {
								text-align: right;
							}
							a {
								text-align: right;
								text-decoration: none;
								text-transform: uppercase;
								color: #000000;
								i {
									font-size: 20px;
									color: #000000;
								}
							}
						}
					}
				}
				&.property-amenities-info {
					padding: 20px;
				}
			}
		}
		.pagination {
			text-align: center;
			.v-pagination__navigation,
			.v-pagination__item {
				box-shadow: 0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
				background-color: transparent !important;
				border-color: none !important;
				color: #000000;
			}
			.v-pagination__navigation,
			.v-pagination__item--active {
				background-color: transparent !important;
				border-color: none !important;
				color: #0146f4;
			}
		}
	}
</style>
