<template>
    <div id="property">
    	<v-container fluid>
			<v-layout row wrap class="property-header">
				<v-flex xs12 md8 class="three-sixty" :style="{'background-image': 'url(/images/2.jpg)'}"></v-flex>
				<v-flex md4>
					<div class="toggle-info">
						>
					</div>
					<div class="basic-info">
						<h2 class="property-name">
							
						</h2>
						<p class="property-address">
							
						</p>
						<div class="property-aminities">
							<span>Sq ftM</span> 
							<span>rate </span>
							<span>Bed </span>
							<span>Dining room </span>
							<span>Pool </span>
							<span>Car park </span>
							<span>Living room</span>
						</div>
						<div class="property-about">
							<p>About Property</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, dignissimos esse, adipisci laborum aliquam nihil iusto quod in molestiae eius provident quia cum architecto hic eveniet amet natus veritatis dicta.</p>
						</div>
						<div class="property-pdf">
							
						</div>
						<v-btn>Contact Agent</v-btn>
					</div>
				</v-flex>
			</v-layout>
			<v-container>
				<v-layout row wrap class="property-aminities">
					<v-flex md12>
						<h2 class="text-center">Aminities</h2>
						<ul class="">
							<li><span></span> Garden</li>
							<li><span></span> Hardwood Flooring</li>
							<li><span></span> Terrace</li>
							<li><span></span> In-Home Fitness Center</li>
							<li><span></span> Granite Countertops</li>
							<li><span></span> Office Space</li>
							<li><span></span> Outdoor Pool</li>
							<li><span></span> Fireplace</li>
						</ul>
					</v-flex>
				</v-layout>
			</v-container>
			<v-layout row wrap class="property-slider">
				<v-flex md12>
					<carousel :center="true" :loop="true" :dots="false">
					    <img :src="'/images/' + x + '.jpg'" v-for="x in 18" :key="x">
					</carousel>
				</v-flex>
			</v-layout>
			<v-container>
				<v-layout row wrap class="property-plan">
					<v-flex md6>
						<h2>About this Property</h2>
						
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
					</v-flex>
					<v-flex md6>
						<img src="/images/floor-plan.jpg" class="floor-plan" alt="placeholder+image">
					</v-flex>
				</v-layout>
			</v-container>
			<v-layout row wrap class="property-info">
				<v-flex md6>
					<img src="/images/1.jpg" alt="placeholder+image">
				</v-flex>
				<v-flex md6>
					<h2>About this Aream</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
				</v-flex>
			</v-layout>
		</v-container>
    </div>
</template>

<script>
	import carousel from 'vue-owl-carousel'
    export default {
    	props: ['id', 'name'],
    	data() {
    		return {}
    	},
        mounted() {
            console.log('Component mounted.')
        },
        components: { carousel }
    }
</script>

<style lang="scss">
	#property {
		.property-header {
			.three-sixty {
				background-size: cover;
				height: 100vh;
			}
			.basic-info {
				.property-aminities {
					-webkit-column-count: 2; 
					-moz-column-count: 2; 
					column-count: 2;
					span {
						display: block;
					}
				}
			}
		}
		.property-aminities {
			padding: 50px 0px;
			ul {
				list-style: none;
				text-align: center;
				margin-top: 50px;
				li {
					display: inline-block;
					margin: 0px 45px 30px;
				}
			}
		}
		.property-slider {
			.owl-carousel {
				.owl-item { 
					background: #000000;
					&.center {
						img {
							opacity: 1;
						}
					}
					img {
						min-height: 425px;
						opacity: 0.3;
					}
				}
			}
		}
		.property-plan {
			padding: 100px 0px;
			.flex {
				&:first-child {
					padding-right: 15px;
				}
				&:last-child {
					padding-left: 15px;
				}
			}
			img {
				max-width: 100%; 
			}
		}
		.property-info {
			.flex {
				&:first-child {
					padding-right: 15px;
				}
				&:last-child {
					padding-left: 15px;
				}
			}
			img {
				width: 100%;
			}
		}
	}
</style>
