// Variables
@import 'variables';
@import 'globals';

.container {
	font-family: $font-montserrat;
	padding: 0px 0px !important;
	.container {
		max-width: 1200px !important;
		width: 1200px !important;
		.pagination {
			margin-bottom: 50px;
		}
	}
}
