.text-center {
  text-align: center;
}

.container {
  font-family: "Montserrat", sans-serif;
  padding: 0px 0px !important;
}

.container .container {
  max-width: 1200px !important;
  width: 1200px !important;
}

.container .container .pagination {
  margin-bottom: 50px;
}

