<template>
    <v-container fluid class="searchbar">
        <v-container>
            <v-layout row wrap justify-center>
                <v-flex xs12 md12>
                    <v-toolbar flat dense>
                        <v-toolbar-items class="hidden-sm-and-down">
                            <router-link to="/latest">
                                Latest
                            </router-link>
                            <router-link to="/rent">
                                Rent
                            </router-link>
                            <router-link to="/buy">
                                Buy
                            </router-link>
                            <router-link to="/sold">
                                Sold
                            </router-link>
                        </v-toolbar-items>
                        <v-spacer></v-spacer>
                        <v-text-field flat height="auto" placeholder="Enter address, Suburb, City"></v-text-field>
                    </v-toolbar>
                </v-flex>
            </v-layout>
        </v-container>
    </v-container>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss">
    .searchbar {
        background: #ffffff;
        padding: 5px 0px !important;
        border-bottom: 1px solid #efefef;
        .v-toolbar {
            background: #ffffff;
            .v-toolbar__content {
                padding: 0px;
                a {
                    text-transform: uppercase;
                    padding: 15px 0px;
                    min-width: 50px;
                    margin-right: 50px;
                    font-size: 13px;
                    font-weight: 700;
                    color: #000000;
                    text-decoration: none;
                    &:hover {
                        background-color: #ffffff !important;
                    }
                }
                .v-input {
                    flex: 0;
                }
                .v-input__slot {
                    width: 300px;
                }
            }
        }
    }
</style>
