<template>
    <v-container fluid class="sortbar">
        <v-container>
            <v-layout row wrap justify-center>
                <v-flex xs12 md12>
                    <v-toolbar flat dense>
                        <span class="result-count">20 Properties</span>
                        <v-spacer></v-spacer>
                        <span class="show">Show:</span>
                        <v-combobox outline :items="items" value="10" suffix="Per Page" append-icon="expand_more"></v-combobox>
                        <span class="sort">Sort By:</span>
                        <v-combobox outline :items="sort" value="Newest" append-icon="expand_more"></v-combobox>
                    </v-toolbar>
                </v-flex>
            </v-layout>
        </v-container>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                items: [10, 15, 20 , 25, 30, 35, 40, 50],
                sort: ['Newest', 'Oldest', 'Price Min', 'Price Max', 'Name A-Z', 'Name Z-A']
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss">
    .sortbar {
        padding: 30px 0px 15px !important;
        .v-toolbar {
            background: transparent;
            min-height: 20px !important;
            .result-count {
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .show, .sort {
                font-size: 13px;
                font-weight: 700;
            }
            .v-toolbar__content {
                padding: 0px 0px;
            }
            .v-input {
                max-width: 180px;
                margin: 0px 20px 0px 15px;
                    font-size: 13px;
            }
            .v-input__slot {
                cursor: pointer !important;
                border: 1px solid #bababa;
                &:hover {
                    border: 1px solid #bababa !important;
                }
                min-height: 35px !important;
            }
            .v-select__slot {
                > input{
                    max-height: 40px;
                    margin-top: 0px !important;
                    cursor: pointer;
                }
                .v-icon {
                    font-size: 17px;
                }
            }
            .v-text-field .v-input__append-inner{ 
                margin-top: 7px !important;
            }
        }
    }
    .v-list__tile {
        height: 35px !important;
        font-size: 13px;
    }
</style>
